services:
  postgres:
    build:
      context: ./docker/db
      dockerfile: Dockerfile
    container_name: ${POSTGRES_CONTAINER_NAME}
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./docker/db/data/initdb:/docker-entrypoint-initdb.d

volumes:
  pgdata:
