altair
attrs
blinker
cachetools
certifi
charset_normalizer
click
contourpy
cycler
fonttools
gitdb
gitpython
idna
jinja2
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib
narwhals
numpy
packaging
pandas
pillow
protobuf
psycopg2-binary
pyarrow
pydeck
pyparsing
python-dateutil
python-dotenv
pytz
referencing
requests
rpds-py
six
smmap
streamlit
tenacity
toml
tornado
typing-extensions
tzdata
urllib3
watchdog
